name: Generate Snake

on:
schedule:
- cron: "0 0 * * *"   # Runs once per day
workflow_dispatch:

jobs:
build:
runs-on: ubuntu-latest

```
steps:
  - name: Generate contribution snake
    uses: Platane/snk@v3
    with:
      github_user_name: novhun
      outputs: |
        dist/github-contribution-grid-snake.svg

  - name: Push snake to output branch
    uses: crazy-max/ghaction-github-pages@v3
    with:
      target_branch: output
      build_dir: dist
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
```
